.popularArea {
    display: flex;
    justify-content: space-between;
    margin: 12% auto 2rem;
    width: 90%;
}

.filmesContainer {
    background-color: #e7e5e5;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filmesContainer h1 {
    margin-top: 2rem;
    font-size: 2.2rem;
}

.filmesContainer p {
    font-size: 1.2rem;
}

.filmesContainer h1,
.filmesContainer p {
    margin-left: 5%;
}

.filmesContent {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    margin: 0 auto;
}