.home {
    background-color: #e7e5e5;
    width: 100vw;
}

.popularContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    width: 80%;
    max-width: 100vw;
    margin: 0 auto;
    background: linear-gradient(90deg, #cecdcd00, #f1f1f1, #f1f1f1, #cecdcd00 );
}

.popularContainer section p {
    font-size: 18px;
}

.alingTitle {
    width: 50%;
    margin: 1rem 0 0 10%;
}

.alingTitle h2 {
    font-size: 2.2rem;
}

.alingTitle p {
    font-size: 1.2rem;
}

.popularArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.popularArea section {
    display: flex;
}

.popularArea .sobreFilme {
    margin-inline: 1rem;
    background-color: rgba(0, 0, 0, 0.014);
    text-align: justify;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popularArea span {
    font-weight: 600;
}

.popularArea section:nth-child(2) {
    flex-direction: row-reverse;
    margin-top: 4rem;
} 

.contadorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contadorContainer span {
    padding: 0 .5rem;
    font-size: 5rem;
    color: #fff;
    background-color: black;
}

.filmesContainer {
    background-color: #161616;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filmesContent {
    text-align: center;
    max-width: 80%;
    height: 70vh;
    display: flex;
    align-items: center;
    overflow: auto;
    margin: 0 auto;
    background: linear-gradient(90deg, #cecdcd00, #f1f1f121, #f1f1f152, #f1f1f121, #cecdcd00 );
}