.filmesContainer {
    background-color: white;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    margin-top: 12%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchInput {
    margin: 2rem auto;
    display: flex;
    width: 40%;
}

.titulo {
    color: black;
    margin-bottom: 5%;
}

.filmesContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 3rem;
}

