.filmesContainer {
    background: linear-gradient(to right, #434343 0%, black 100%);
    width: 100%;
    min-width: 90vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartIconClose {
    margin-left: 1rem;
    color: #ff0000;
    cursor: pointer;
}

.itemCarrinho {
    display: flex;
}

.bgFilmes {
    margin-top: -5rem;
    width: 100vw;
    height: 80vh;
    background: url("https://cinearaujo.com.br/images/sp_maua_multiplex/1.png") no-repeat;
    background-size: 100%;
}

.searchInput {
    margin: 2rem auto;
    display: flex;
    width: 40%;
}

.titulo {
    color: black;
    margin-bottom: 5%;
}

.filmesContent {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.cartIcon {
    position: relative;
    left: 42vw;
    background-color: red;
    color: #fff;
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.cartIcon:hover {
    cursor: pointer;
    background-color: #c1c1c1;
}

.totalCart{
    font-weight: bold;
}

.finalCard{
    font-weight: bold;
}