.nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	opacity: 0;
	font-size: 1.8rem;
	display: none;
}

nav {
    align-items: center;
    justify-content: space-evenly;
}


@media only screen and (max-width: 600px) {
	.nav-btn {
		display: block;
		opacity: 1;
        position: relative;
        z-index: 90;
		top: 0;
		right: 20px;
	}

	nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
        z-index: 100;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #000000e5;
		transition: 1s;
		transform: translateY(-100vh);
	}

	.responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}
}