.navBarContainer {
    background-color: #333;
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.firstContent,
.secondContent {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.secondContent {
    margin-top: 1rem;
    border-top: 1px solid #F2F7F2;
    padding-top: .5rem;
}

.filmesAtalho {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    margin-top: .5rem;
}

.filmesAtalho p {
    margin-inline-end: 1rem;
    font-size: .75rem;
    color: #F2F7F2;
}

.ticketLogo {
    animation: color 5s ease-in-out infinite;
}

@keyframes color {
    0%, 100% {
        color: #A63D40;
    }
    50% {
        color: #F2F7F2;
    }
}

.menuNavigation {
    list-style: none;
    display: flex;
}

.menuItem {
    margin-inline: 1.5rem;
    font-size: 1.05rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.searchContainer {
    padding: .2rem;
    background-color: #fff;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #333 -15px 0px 10px 0px
}

.searchContainer input {
    border: none;
    outline: 0;
    padding-right: 2.5rem;
    margin-left: .5rem;
}