.navBarContainer {
    background: rgb(6,6,6);
    background: linear-gradient(90deg, rgba(6,6,6,1) 0%, rgba(29,30,31,1) 43%, rgba(22,23,38,1) 51%, rgba(18,19,34,1) 64%, rgba(31,29,29,1) 100%);
    position: sticky;
    position: -webkit-sticky;
    z-index: 999;
    top: 0;
    height: 8rem;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 33%), 0 2px 10px 0 rgb(0 0 0 / 33%);
}

.firstContent,
.secondContent {
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondContent {
    border-top: 1px solid #F2F7F2;
}

.containerLogo {
    display: flex;
    align-items: center;
}

.containerLogo p {
    margin: 0 1rem; 
    font-size: 1.5rem;
}

.filmesAtalho {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.filmesAtalho p {
    margin-inline-end: 1rem;
    font-size: .9rem;
    color: #F2F7F2;
    cursor: pointer;
}

.ticketLogo {
    animation: color 5s ease-in-out infinite;
}

@keyframes color {
    0%, 100% {
        color: #A63D40;
    }
    50% {
        color: #F2F7F2;
    }
}

.menuNavigation {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 25rem;
}

.menuItem {
    font-size: 1.05rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width:320px) {
    .navBarContainer {
        width: 100vw;
    }
    
    .firstContent {
        margin-bottom: .3rem;
    }

    .containerLogo {
        display: flex;
        align-items: center;
        margin-top: .1rem;
    }
    
    .containerLogo p {
        margin-left: .3rem; 
        font-size: .9rem;
        white-space: nowrap;
    }

}

@media (min-width:801px) { 

    .secondContent {
        border-top: 1px solid #F2F7F2;
        padding: 1rem 0 1rem 0;
    }

    .containerLogo {
        display: flex;
        align-items: center;
    }

    .containerLogo p {
        font-size: 1.2rem;
    }
 }