.btns{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
}

.titleModal{
    display: flex;
    justify-content: start;
}

.btnModal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}