.cadastro {
    width: 100vw;
    padding: 3rem;
    place-items: center;
    display: grid;
    background: url('/public/imagens/cadastroBg.png') top no-repeat;
    background-size: cover;
}

.formContainer {
    grid-column: 2/2;
    width: 30vw;
    display: flex;
    flex-direction: column;
    background: #ffffff85;
    padding: 2rem;
}

.alignText {
    grid-column: 1/1;
    place-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    background: #ffffff85;
}

.alignText h3 {
    font-size: 3rem;
    white-space: nowrap;
}

.alignText h3 span {
    font-weight: bold;
    font-size: 4rem;
    white-space: nowrap;
}
