.formSticky {
    position: -webkit-sticky;
    position: sticky;
    top: 23%;
    width: 28rem;
    height: 32rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-direction: column;
    background-color: #444;
    padding: 1rem;
}

.textArea {
    resize: none;
    height: 120px;
}